.app-layout {
  display: flex;
}

/* MAIN AREA */
.main-content {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 260px);
  transition: 0.3s;
}

.main-content.collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}