.productivity-chart{
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.productivity-chart h2{
    margin-bottom:25px;
    color:#1e293b;
}

.chart{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    height:250px;
}

.bar-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1;
}

.bar{
    width:40px;
    background:#2563eb;
    border-radius:8px 8px 0 0;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    color:white;
    font-size:12px;
    padding-top:5px;
    transition:.3s;
}

.bar:hover{
    background:#1d4ed8;
}

.bar-box p{
    margin-top:10px;
    color:#64748b;
    font-weight:600;
}