.sidebar{
    width:270px;
    min-height:100vh;
    background:linear-gradient(180deg,#0f172a,#1e293b);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:sticky;
    top:0;
}

.logo{
    padding:30px 20px;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.logo h2{
    font-size:26px;
    margin-bottom:5px;
}

.logo p{
    color:#94a3b8;
    font-size:14px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    padding:20px 10px;
}

.sidebar nav a{
    display:flex;
    align-items:center;
    gap:15px;
    color:#cbd5e1;
    text-decoration:none;
    padding:14px 18px;
    border-radius:12px;
    margin-bottom:8px;
    transition:.3s;
    font-size:16px;
    font-weight:500;
}

.sidebar nav a svg{
    font-size:20px;
}

.sidebar nav a:hover{
    background:#2563eb;
    color:white;
    transform:translateX(5px);
}

.sidebar nav .active{
    background:#2563eb;
    color:white;
}

.logout{
    padding:20px;
    border-top:1px solid rgba(255,255,255,.1);
}

.logout a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-radius:12px;
    color:#ef4444;
    text-decoration:none;
    transition:.3s;
}

.logout a:hover{
    background:#ef4444;
    color:white;
}

@media(max-width:900px){

.sidebar{
    width:80px;
}

.logo h2,
.logo p,
.sidebar nav span,
.logout span{
    display:none;
}

.sidebar nav a{
    justify-content:center;
}

.logout a{
    justify-content:center;
}

}