.task-item{

background:white;
border-radius:18px;
padding:18px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s;
cursor:grab;

}

.task-item:hover{

transform:translateY(-5px);

}

.dragging{

transform:rotate(4deg);
box-shadow:0 20px 45px rgba(37,99,235,.25);

}

.overdue{

border-left:6px solid #ef4444;

}

.task-top{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;

}

.task-top h3{

font-size:18px;
font-weight:700;
color:#0f172a;

}

.star{

color:#fbbf24;
cursor:pointer;

}

.task-description{

color:#64748b;
line-height:1.6;
margin-bottom:18px;

}

.badge-row{

display:flex;
gap:10px;
margin-bottom:18px;
flex-wrap:wrap;

}

.priority{

padding:6px 12px;
border-radius:20px;
display:flex;
align-items:center;
gap:5px;
font-size:13px;
font-weight:600;

}

.priority.High{

background:#fee2e2;
color:#dc2626;

}

.priority.Medium{

background:#fef3c7;
color:#ca8a04;

}

.priority.Low{

background:#dcfce7;
color:#16a34a;

}

.category{

background:#dbeafe;
color:#2563eb;
padding:6px 12px;
border-radius:20px;
font-size:13px;
font-weight:600;

}

.progress-wrapper{

margin-bottom:18px;

}

.progress-text{

display:flex;
justify-content:space-between;
margin-bottom:8px;
font-weight:600;

}

.progress-bar{

height:8px;
background:#e2e8f0;
border-radius:20px;
overflow:hidden;

}

.progress-fill{

height:100%;
background:linear-gradient(90deg,#2563eb,#60a5fa);

}

.task-footer{

display:flex;
justify-content:space-between;
padding-top:15px;
border-top:1px solid #e2e8f0;
font-size:13px;
color:#64748b;

}

.task-bottom{

display:flex;
justify-content:flex-end;
gap:20px;
margin-top:15px;
color:#64748b;

}

.task-bottom span{

display:flex;
align-items:center;
gap:6px;

}