/* Overlay */

.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.55);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

/* Modal */

.modal-box{

    width:700px;
    max-width:95%;
    max-height:90vh;

    background:#fff;

    border-radius:20px;

    padding:30px;

    overflow-y:auto;

    box-shadow:0 25px 60px rgba(0,0,0,.3);

    animation:popup .25s ease;

}

@keyframes popup{

from{

transform:scale(.8);
opacity:0;

}

to{

transform:scale(1);
opacity:1;

}

}

.modal-box h2{

font-size:30px;
margin-bottom:25px;
color:#1e293b;

}

/* Grid */

.project-form{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;

}

.full{

grid-column:1/3;

}

.project-form label{

display:block;
font-weight:600;
margin-bottom:8px;
color:#334155;

}

.project-form input,
.project-form textarea,
.project-form select{

width:100%;
padding:14px;
border:1px solid #d1d5db;
border-radius:12px;
font-size:15px;
outline:none;
transition:.3s;

}

.project-form input:focus,
.project-form textarea:focus,
.project-form select:focus{

border-color:#4f46e5;
box-shadow:0 0 0 4px rgba(79,70,229,.15);

}

.project-form textarea{

height:120px;
resize:none;

}

/* Buttons */

.modal-buttons{

display:flex;
justify-content:flex-end;
gap:15px;
margin-top:30px;

}

.cancel-btn{

background:#e5e7eb;
color:#111827;
padding:12px 24px;
border:none;
border-radius:12px;
cursor:pointer;
font-weight:600;

}

.create-btn{

background:linear-gradient(135deg,#4f46e5,#2563eb);
color:#fff;
padding:12px 28px;
border:none;
border-radius:12px;
cursor:pointer;
font-weight:600;

}

.create-btn:hover{

transform:translateY(-2px);

}